nav {
	position: absolute;
	bottom: 0;
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	background-color: cadetblue;
	padding: 1rem;
	border-radius: 10px 10px 0 0;
}

.menuactive {
	text-decoration: underline;
}

nav a {
	color: white;
}

nav a:hover {
	opacity: 0.7;
}